@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sahitya:wght@400;700&display=swap');
@import url('CSS/responsividade.css');

body {
    background-image: url(/IMG/6cf01be6-magic.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Sahitya", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    align-items: center;
    margin: auto;
    background-color: #23319b68;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    height: max-content;
    width: max-content;
}

.container h1 {
    color: #5d593b;
}

.container span:hover {
    transform: scale(1.6);
    color: #ccc;
}

.container ul li {
    list-style: none;
}

#lista input {
    font-size: 24px;
}

input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.botones button {
    border: none;
    border-radius: 5px;
    height: 60px;
    width: 90%;
    display: flex;
    padding: 0px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#btn-convidar,
span {
    font-size: 20px;
}

#btn-excluirPrimeiro,
span {
    font-size: 20px;
}

#btn-exc,span {
    font-size: 20px;
}

#btn-convidar:hover {
    background-color: #275817;
    color: #ccc;
}

#btn-exc:hover {
    background-color: #9e5959;
    color: #ccc;
}

#btn-excluirPrimeiro:hover {
    background-color: #632a50;
    color: #ccc;
}