@media (max-width: 480px) {

    body {
        background-image: url(/IMG/bk-responsividade-480.jpg);
        
        width: 100%;
    }

    .container{        
        background-color: #0f185f46;
    }

    .container span:hover {
        transform: scale(1.8);
        color: #ccc;
    }

    footer{
    font-weight: bold;
    }

}

